*   
  margin 0
  padding 0


.btn-top-bg
  width 235px
  height 84px
  background url('http://ossweb-img.qq.com/images/lol/v2/index/7th/sprite-img.png');
  background-size 1335px 1194px
  color #bea468
  text-align center







